    <h1>Help</h1>
    <p>
    Get some help on this Ruby on Rails tutorial at the <a href="http://railstutorial.org/help" title="Rails Tutorial">Rails Tutorial Help page</a>.<br/>To get some help about that sample application, check out the <a href="http://railstutorial.org/book" title="Rails Tutorial">Rails Tutorial Book</a>
    </p>

