    <h1>Simple App</h1>
    <p>
        This is the Homepage of the Sample Application of <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    </p>

    <%= link_to "S'inscrire !", signup_path , :class => "signup_button round" %>
